<div *ngIf="AIactive" class="studentAI">
    <h3>Student Additional Information</h3>
    <div class="student-info">
        <ul>
            <li>Last Name: {{lastNameInfo}}</li>
            <li>First Name: {{firstNameInfo}}</li>
            <li>Age: {{ageInfo}}</li>
            <li>City: {{cityInfo}}</li>
            <li>Faculty: {{facultyInfo}}</li>
            <li>Speciality: {{specialityInfo}}</li>
            <button (click)="AIclose()">⬆️</button>
        </ul>

    </div>
</div>
<button class="btAIopen" *ngIf="AIactive !== true" (click)="AIopen()">⬇️</button>