<div class="studentList-block">
    <h3>Student List</h3>

    <div class="student" *ngFor="let student of students" (click)="getInfos(student.lastName)">
        <ul>
            <li>Last Name: {{student.lastName}}</li>
            <li>Age: {{student.age}}</li>
            <li class="delete" (click)="deleteStudent(student.lastName)">❌</li>
        </ul>
        <app-display-student-additional-information *ngIf="lastNameInfoStudent" [lastNameInfo]="lastNameInfoStudent" [firstNameInfo]="firstNameInfoStudent" [ageInfo]="ageInfoStudent" [cityInfo]="cityInfoStudent" [facultyInfo]="facultyInfoStudent" [specialityInfo]="specialityInfoStudent" [AIactive]="AIactive"></app-display-student-additional-information>
    </div>
</div>
